body {
  padding: 10;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftCol {
  /* background-color: aqua; */
  flex-basis: 68%;
}
.leftColContainer {
  padding: 10px;
}
.separator {
  flex-basis: 2%;
}
.rightCol {
  /* background-color: rgb(7, 38, 38); */
  flex-basis: 30%;
}

@media only screen and (max-width: 1100px) {
  .main {
    display: block;
  }
}

.title {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  margin-right: 16px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*  */

.work-experience {
  margin: 2rem 0;
}

.work-experience h2 {
  font-size: 2rem;
  color: #333;
  display: flex;
  align-items: center;
}

.work-experience h2 i {
  margin-right: 1rem;
}

.work-item {
  margin: 2rem 0;
}

.work-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.work-item p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.work-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work-item li {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  position: relative;
  padding-left: 2rem;
}

.work-item li:before {
  content: "\2022";
  color: #333;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.box {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.no-display {
  display: none;
}
